.header {
	height: 70vh;
	background: #eee;
	display: flex;
	flex-direction: column;
	align-items: center;

	h1 {
		margin-top: auto;
	}

	div {
		margin-bottom: auto;
		width: 20px; height: 20px;
		background: center / contain url('../img/i-home.svg') no-repeat;
	}	
}

article {
	margin: 150px auto;
	max-width: 900px;

	header {
		background: #eee;
		padding: 50px;
		text-align: center;
	}

	main {
		line-height: 150%;
		font-size: 18px;
		max-width: 550px;
		margin: 100px auto;
	}

	img {
		width: 100%;
		margin: 20px auto;
	}

	&::after {
		display: block; content: '';
		width: 100%; height: 200px;
		background-image: url('../img/01.png');
		background-repeat: no-repeat;
		background-size: cover;
	}
}

footer {
	padding: 150px 20px;
	background: #eee;
	text-align: center;
}